.top-container{
    display: flexbox;
    align-items: stretch;
    background-image: url('../assets/night-1.png');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px 5px  inset;
}

#about{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 150vh;
    border: 5px solid;
    margin: auto;
    width: 85%;
    padding: 2vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: whitesmoke;
    border-radius: 25px;
}


#name-about{
    height: fit-content;
    width:30vw;
    margin-left: 11vw;
    margin-top: 6vh;
    text-align: center;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(220, 142, 23));
    border-color: black;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.typed-box{
    float: left;
    margin-left: 4vw;
    width: 40vw;
    height: 35vh;
    display: flex;
    text-align: center;
    
}
#typed{
    font-size: 8vh;
}
.pic{
    
    margin-left: 10vw;
    margin-top: -13vh;
    width: 25vw;
    position: absolute;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.hover_img{
    opacity: 0;
    transition: all 0.7s ease;
}
.hover_img:hover{
    opacity:1;
    
}

