/* *{border-style: dashed;} */
.top-container{
    text-align:center ;
    align-items: stretch;
    background-image: url('../assets/night-1.png');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px 5px  inset;
}

#about{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    height: fit-content;
    border: 5px solid;
    margin: auto;
    width: 85%;
    padding: 2vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: whitesmoke;
    border-radius: 25px;
}

#description{
    float: left;
}

#name-about{
    height: fit-content;
    width:30vw;
    margin-left: 11vw;
    margin-top: 6vh;
    text-align: center;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(220, 142, 23));
    border-color: black;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.typed-box{
    margin-top: 8vh;
    margin-left: 3vw;
    width: 40vmax;
    height: 25vmin;
    display: block;
    text-align: center;
    word-wrap: break-word;
    
}
#typed{
    font-size: 8vmin;
}
.pic{
    
    margin-left: 13vmax;
    margin-top: -44vmin;
    width: 25vmax;
    position: absolute;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.hover_img{
    opacity: 0;
    transition: all 0.7s ease;
}
.hover_img:hover{
    opacity:1;   
}

#textbox{
    margin-top: 10vmax;
    font-size: 3vmin;
    width:inherit;
    word-wrap: break-word;
    text-align: justify;
}
#work-term{
    margin-top: 5vmax;
    font-weight: bold;
    font-size: 3vmin;
    text-align: center;
}
